/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.color-primary{
    color: orange;
}

.wrapper
{
    position: relative;
    z-index: 1;
    width:100vw;
    height:100vh;
    background-color: orange;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contact_manager
{
    position: relative;
    width: 350px;
    height: 550px;
    background-color:white;
    border-radius:3px;
    box-shadow:0px 0px 15px 2px rgba(0,0,0,0.2);
}

.contact_manager::before{
    position: absolute;
    left:-20px;
    top:5.5%;
    content:"";
    width: 100%;
    height: 90%;
    background-color:white;
    border-radius:3px;
    z-index: -1;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}

.contact_manager::after{
    position: absolute;
    right:-20px;
    top:5.5%;
    content:"";
    width: 100%;
    height: 90%;
    background-color:white;
    border-radius:3px;
    z-index: -1;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}

.contact_header{
    text-align:center;
    padding: 20px;
}

.contact_logo{
    color:orange;
}

.contact_heading{
    color:orange;
    letter-spacing:5px;
}

.contact_form{
    padding: 0 20px;
}

.contact_form input{
    color:white;
    display:block;
    width:100%;
    margin-bottom: 15px;
    padding:15px 20px;
    background-color:orange;
    border:none;
    border-radius: 27px;
}

.contact_form button[type="submit"]{
    background-color:white;
    border:2px solid orange;
    color: orange;
    padding:10px 20px;
    border-radius:27px;
}

input:focus{
    outline:none;
}

::placeholder{
    color:white;
    opacity:1;
}

.contact_body{
    width:100%;
    height:180px;
    padding:10px 20px;
    overflow-y:scroll;
}

.contact_item{
    display:flex;
    align-items:center;
    background-color:white;
    padding:10px 15px;
    margin-bottom:10px;
    border-radius:3px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.contact_item_info{
    margin-left: 10px;
    margin-right: auto;
}